* {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Clip path of text and image in background. */
    background-image: url("../../assets/images/sea_water_horizon.jpg");
    background-size: cover;
    /* Needs webkit prefix. */
    background-clip: text;
    -webkit-background-clip: text;
    /* The image is cut out under the text, so taxt must be transparant. */
    color: transparent;
    
    /* Move the background image up and down like a wave. */
    animation: waveWater 3s ease-in-out infinite;
    background-position-Y: -1rem;

}
p.concept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

@keyframes waveWater {
    50% {
        background-position-Y: 1rem;
    }
}