@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
    --colour-teal: #037C6E;
    --form-blue: #95B9E4;
}

body {
    background-color: var(--form-blue);
}

/* table */
table {
    border-collapse: collapse;
}

tr > *{
    padding: 0.2rem;
}
tr:nth-child(odd) {
    background-color: var(--colour-teal);
    color: white
}

#map {
    height: 400px;
    width: 100%;
}
