@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

:root {
    --colour-teal: #05998C;
    --colour-dark-teal: #037C6E; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}


/* table */
table {
    border-collapse: collapse;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 1rem;
}
thead {
    background-color: antiquewhite;
}

tr {
    display: flex;
    flex-direction: row;
}

th {
    width: 100%;
    text-align: center;
    border: 1px solid #000;
}

td {
    border: 1px solid #000;
    padding: 0.4rem 2rem 0.4rem 2rem;
    text-align: center;
}

tr:nth-child(odd) > td:nth-child(even) {
    background-color: var(--colour-teal);
}
tr:nth-child(even) > td:nth-child(odd) {
    background-color: var(--colour-teal);
}


td:hover {
    background-color: var(--colour-dark-teal) !important;
}

td:hover > * {
    color: white
}
